{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Resultados de la busqueda: [[query]]</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Vista previa</th>
                    <th>Titulo</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th><img src="product.image"></th>
                    <th>[[product.description]]</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}