{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Categories container -->
<div class="categories py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Category card -->
        {% for category in displayCategoryList %}
            <div class="col">
                <div class="card shadow-sm">
                    <img  src="{% static 'book-placeholder.svg' %}" alt={{ category.name }} >
                <div class="card-body">
                    <h5 class="card-text">{{ category.name }}</h5>
                </div>
                </div>
            </div>
        {% endfor %}

        
      </div>
    </div>
  </div>
{% endblock  %}