{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container my-5">
        <h2>Aviso de privacidad</h2>
        <h3>1. Titularidad</h3>
        <p>     Librería B00k</p>
            
        <p>     B00k libros</p>
            
        <p>     Titular: B00k, Sociedad Civil.</p>
            
        <p>     CIF A12345678</p>
            
        <p>     Avda. Reina Mercedes nº 23,</p>
            
        <p>     Sevilla, (C.P. 18037)</p>
            
        <p>     España</p>
            
        <p>     Email b00k@gmail.com</p>
        <h3>2. Información</h3>
        <p>     La visita del usuario a la web de B00k no implica que tenga que facilitar ninguna información sobre sus datos personales. No obstante, en caso de facilitarlos solo y exclusivamente para cumplir con las finalidades establecidas, estos datos serán tratados de forma lícita con sujeción en todo momento a los principios y derechos recogidos en el RGPD 2016/679 de 27 de abril de 2016 y la LOPDGDD 3/2018 del 5 de diciembre.</p>
        <p>     Sus datos no se comunicarán ni serán cedidos a terceros salvo que exista alguna obligación legal o aquellos prestadores vinculados a B00k que actúan como encargados del tratamiento. El titular de la Web tratará los datos del usuario en todo momento de forma absolutamente confidencial y guardando el secreto de estos, de conformidad con lo previsto en la normativa de aplicación, adoptando al efecto las medidas de índole técnico-organizativa necesarias que garanticen la seguridad de sus datos y eviten su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos.</p>
        <p>     En el momento en que un cliente se registra en nuestro servidor seguro o realiza un pedido, sus datos personales, domiciliarios y los relativos a su forma de pago son incorporados a nuestra base de datos, utilizándose únicamente para tramitar el pedido, así como para enviar información sobre ofertas y servicios que puedan resultar de su interés, siempre que nos autorice a ello.</p>
        <p>     El cliente podrá ejercer su derecho de acceso, rectificación, cancelación y oposición dirigiendo un escrito a:</p>
        <p>     b00k@gmail.com</p>
    </div>
</div>
{% endblock  %}