{% extends 'base.html' %}

{% block content %}
<div class="align-items-center container my-5">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3 mb-3">Inciar sesión</button>
    </form>
</div>
{% endblock  %}