{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{product.title}}</h1>
        <h2 class="text-secondary">{{product.author}}</h2>
        <h2 class="text-dark">{{product.editorial}}</h2>
        <h3>Quedan {{product.stock}} unidades</h3>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th id="vista-previa">Vista previa</th>
                    <th id="sinopsis">Sinopsis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th id="product-img"><img src="{{BASE_URL}}/media/{{ product.picture }}" width="350" alt="{{product.picture}}"></th>
                    <th id="product-desc">{{product.description}}</th>
                </tr>
            </tbody>
        </table>
        
        <div class="col-sm-2">
            <div class="row text-center">
                <h3>{{ product.price }}€</h3>
            </div>
            <div class="row d-flex justify-content-center my-3">
                <form method="GET">
                    <div class="input-group mb-3">
                        <input class="form-control" type="number" placeholder="Cantidad" size="1" name="quantity" value="1" min="1" max="{{ product.stock }}" required=true>
                        <input type="hidden" name="division" value="{{ request.path }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success" formaction="{% url 'add-book-from-catalog' product.id %}" style="width: 35px;">+</button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>

    </div>
{% endblock %}