{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{{product.title}}</h1>
        <h2 class="text-secondary">{{product.author}}</h2>
        <h2 class="text-dark">{{product.editorial}}</h2>
        <h3>Quedan {{product.stock}} unidades</h3>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th id="vista-previa">Vista previa</th>
                    <th id="sinopsis">Sinopsis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th id="product-img"><img src="{{BASE_URL}}/media/{{ product.picture }}" width="350" alt="{{product.picture}}"></th>
                    <th id="product-desc">{{product.description}}</th>
                </tr>
            </tbody>
        </table>
        <h3>{{product.price}} €</h3>
        <div class="form-inline " style="width: 22rem;">
            <label class="form-label" for="typeNumber">Cantidad:</label>
            <input value="1" max="{{product.stock}}" type="number" id="typeNumber"class="form-control-inline" />
        </div>
        <button type="button" class="btn btn-secondary">A&ntildeadir al carrito</button>

    </div>
{% endblock %}