{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="container my-5">
        <h2>Términos y condiciones de uso</h2>
        <p>Los términos y condiciones de uso de la aplicación web B00k se establecen a continuación:</p>

        <p>1. La aplicación B00k se utiliza para la compra y venta de libros en línea. Al utilizar la aplicación, usted acepta cumplir con todas las leyes y regulaciones aplicables.</p>
            
        <p>2. B00k se reserva el derecho de modificar o interrumpir el servicio en cualquier momento, sin previo aviso. B00k no será responsable ante usted o cualquier tercero por cualquier modificación, suspensión o interrupción del servicio.</p>
            
        <p>3. B00k no garantiza la exactitud, fiabilidad o integridad de la información proporcionada a través de la aplicación. B00k no será responsable ante usted o cualquier tercero por cualquier pérdida o daño que surja de su confianza en la información proporcionada a través de la aplicación.</p>
            
        <p>4. Usted es el único responsable de proteger su contraseña y de restringir el acceso a su cuenta de B00k. B00k no será responsable ante usted o cualquier tercero por cualquier pérdida o daño que surja de su incumplimiento de esta obligación.</p>
            
        <p>5. B00k no es responsable por el contenido de los libros vendidos a través de la aplicación. Usted acepta que es el único responsable por cualquier pérdida o daño que surja de la compra o uso de cualquier libro a través de la aplicación.</p>
            
        <p>6. B00k se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Su uso continuado de la aplicación después de cualquier cambio en estos términos y condiciones constituirá su aceptación de dichos cambios</p>

    </div>
</div>
{% endblock  %}